<h1>Lion 중화요리에 오신 걸 환영해~</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="category">카테고리 선택:</label>
        <select name="category">
            <option value="면류">면류</option>
            <option value="밥류">밥류</option>
            <option value="요리류">요리류</option>
        </select>
    </div>
    <div>
        <label for="foodname">음식이름:</label>
        <input type="text" name="foodname">
    </div>
    <div>
        <label for="price">가격:</label>
        <input type="text" name="price">
    </div>
    <div>
        <label for="description">설명:</label>
        <textarea name="description" rows="4" cols="50"></textarea>
    </div>
    <div>
        <p>포장가능한 식품?</p>
        <input type="radio" name="takeout" value="yes">
        <label for="onlytakeout">포장만 가능</label><br>
        <input type="radio" name="takeout" value="no">
        <label for="cannottakeout">매장식사만 가능</label>
    </div>
    <div>
        <label for="file">사진을 올려주세요</label>
        <input type="file" name="file">
    </div>

    <input type="submit" value="제출">
</form>